* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background-color: black;    
}

.navbar {
    color: white;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.top-header {
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    z-index: 99;
    background-color: black;
}

.side-1 {
    display: flex;
    align-items: center;
    gap: 15px;
}

.navbar a {
    display: flex;
    text-decoration: none;
    color: white;
}

.navbar i {
    font-size: 20px;
    display: flex;
    color: white;
}

.navbar .logo a {
    height: 40px;
    max-width: 125px;
    width: 100%;
}

.bars i:hover {
    background-color: #575555f6;
    border-radius: 50%;
}

.search {
    display: flex;
    justify-content: center;
    flex: 1;
}

.side-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 15px;
    max-width: 700px;
}

.navbar .search-in {
    background-color: #121212;
    height: 40px;
    max-width: 600px;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid #ffffff23;
    border-right: none;
}

.navbar .search-in:focus-within {
    border: 1px solid #1c64ffc2;
}

.search input {
    padding: 10px;
    color: gray;
    background-color: transparent;
    border: none;
    font-size: 15px;
    outline: none;
    width: 96%;
}

.search-icon i {
    background-color: #ffffff23;
    height: 40px;
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 24px;
    border: 1px solid #ffffff23;
    border-left: none;
}

.mic-logo i {
    background-color: #ffffff23;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 24px;
    margin: 10px 0;
}

.mic-logo i:hover {
    background-color: #575555f6;
}

.side-3 {
    display: flex;
    gap: 15px;
    
}

.create p {
    padding-right: 10px;
}

.create i {
    padding-left: 10px;
}

.create a {
    gap: 10px;
    margin: 10px 10px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    font-size: 16px;
    height: 40px;
    overflow: hidden;
    transition: 0.3s;
    background-color: #ffffff23;
}

.create a:hover {
    background-color: #575555f6;
}

.bell i {
    margin: 10px 0;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: space-around;
    border-radius: 50%;
    font-size: 24px;
}

.bell i:hover {
    background-color: #575555f6;
}

.user img {
    margin: 10px 0;
    height: 40px;
    width: 40px;
    border-radius: 50%; 
}

.side-panel {
    top: 0;
    left: 0;
    padding-top: 60px;
    height: calc(100vh - 60px);
    width: 65px;
    position: fixed;
    display: block;
    z-index: 100;
}

.side-panel div {
    height: 70px;
}

.side-panel div:hover {
    border-radius: 15px;
    background-color: #f1f1f11a;
}

.home i {
    color: white;
    padding: 20px 20px 5px;
    font-size: 22px;
}

.side-panel a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
}

.side-panel img {
    width: 24px;
    height: 24px;
    filter: invert(1);
    margin: 10px 20px 2px;
}

.type-selector {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 24px;
    margin-left: 65px;
    height: 56px;
    width: calc(100% - 80px);
}

.type-selector a {
    background-color: #575555a1;
    height: 30px;
    border-radius: 10px;
    padding: 10px;
    color: white;
    text-decoration: none;

}

.type-selector .first {
    color: black;
    background-color: #f1f1f1;
}

.main-content {
    padding: 24px;
    margin: 116px 0 0 65px;
    display: flex;
}

.thumbnail {
    height: 400px;
    width: 550px;
    padding: 10px;
    border-radius: 20px;
    transition: 0.3s ease-out;
}

.main-content div:hover {
    background-color: #2B1D19;

}

.main-content img {
    height: 280px;
    width: 500px;
    border-radius: 10px;
}

.main-content .channel-logo img{
    margin-top: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.main-content a {
    color: white;
    text-decoration: none;
}

.main-content .channel-info {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

.main-content .channel-info span {
    flex-wrap: wrap;
}

.main-content .channel-name {
    font-size: 14px;
    color: gray;
    padding: 0 0 5px 55px;
}

.main-content .option {
    padding: 10px;
}

.main-content .option:hover {
    background-color: #575555a1;
    border-radius: 50%;
}
